<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#Navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mr-auto" href="#">
      <img src="img/logo.png" height="30" width="40" />
      IRB 140</a>
    <a
      class="btn btn-dark mr-auto order-sm-last"
      href="/login"
      role="button"
    >Ingresar</a>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/contact">
            <span class="fa fa-address-card"></span>
            Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>