.row-header{
    margin: 0px auto;
    padding: opx auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #8ea0c1;
    color: floralwhite;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #03081d;
    /* background: #03081d; */
    /*background: #040a20; */
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px auto;
    color: #0f0f0f;
}

.body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #031534;
}
